<div class="x_panel">
  <div class="x_title">
    <h2 id="dd">Add Product/Service</h2>
    <div class="clearfix"></div>
  </div>
  <button id="aa">Add</button>
  <div class="x_content">

    <%= bootstrap_form_for :customer_product do |f| %>
      <%= f.select :customer, @customers, {label: 'Select customer:'}, {class: 'selectpicker ', 'data-live-search' => 'true'} %>
      <%= render partial: 'dashboard/product_form', locals: {fa: f} %>

      <div id="aas">

        <hr>

        <script>
            $('#aa').click(function () {
                $('#aas').append("<%= escape_javascript (render partial: 'dashboard/product_form' ,remote: true, locals: {fa: f}) %>");
            })
        </script>

      </div>
    <% end %>
  </div>
</div>








