<%= render 'dashboard/total_tiles' %>
<div class="col-md-4 col-sm-4 col-xs-12">
  <%= render 'dashboard/create_form' %>
</div>

<div class="col-md-8 col-sm-8 col-xs-12 pull-right">
  <%= render 'dashboard/services_table' %>
</div>
<div class="col-md-8 col-sm-8 col-xs-12 pull-right">
  <%= render 'dashboard/products_table' %>
</div>

