<% unless @range %>
  <% @range = {label: "All", start: "", end: ""} %>
<% end %>
<div class="col-md-6 col-sm-6 col-xs-12 ">
  <%= line_chart customer_products_services_by_day_url(@record.id, @range.to_query), discrete: true %>
</div>