<div class="col-md-6 col-sm-6 col-xs-12">
  <%= render 'customers/chart_test' %>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 pull-right">
  <%= render 'customers/table_services' %>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 pull-right">
  <%= render 'customers/table_products' %>
</div>