<% content_for :javascript_includes do %>
  <%= javascript_include_tag "customers.js", 'data-turbolinks-track' => true %>
<% end %>
<%= render 'customers/customer_tiles' %>

<ul class="nav navbar-nav navbar-right" style="margin-bottom: 5px;">
  <%= bootstrap_form_tag url: dashboard_index_path, html: {id: 'add_product_service_form'} do |f| %>
    <%= f.text_field :date_range, data: {provide: 'datepicker'}, class: 'date_range', label: "Εύρος αναζήτησης" %>
  <% end %>
</ul>
<div id="show_content"></div>
