<div class="x_panel">
  <div class="x_title">
    <h2>Υπηρεσίες και Προϊόντα ανά ημέρα</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= line_chart dashboard_products_services_by_day_path %>
  </div>
</div>
